{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="card shadow-lg border-light">
            <div class="card-body">
                {{ component('ProductSearch') }}
            </div>
        </div>
    </div>
{% endblock %}
